
# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Full datasets
data/raw/
data/processed/

# Local config (DO NOT PUSH)
config/config.yaml

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
logs/